__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

*.sqlite3
*.db
backend/src/db/*.db
backend/src/db/gtfs_supplemented/*.txt
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
