:root {
  --sans: 'Helvetica', 'Arial', sans-serif;
  --heading: 'Helvetica', 'Arial', sans-serif;
  
  font: 500 18px/145% var(--sans);
  color-scheme: dark;
  color: white;
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}

#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading);
  color: white;
}
